sphinx
sphinx_rtd_theme
scipy
numpy
matplotlib
torch_scatter
torch_sparse
torch_geometric
scipy
matplotlib
scikit-learn
ogb
pyyaml
deeprobust
seaborn
munkres
cvxpy
pymetis
ipdb
cupy-cuda12x
torch
torchvision