torch==2.4.1+cpu
torchvision==0.19.1+cpu
cupy-cuda12x
torch_scatter
torch_sparse
torch_geometric
scipy
numpy
pandas
matplotlib
scikit-learn
ogb
pyyaml
deeprobust
seaborn
munkres
cvxpy
pymetis
ipdb
sphinx
sphinx_rtd_theme
